$resource-url: 'http://localhost:9098/';

$rpbj-btn-regular: 32px;
$rpbj-btn-small: 28px;
$rpbj-btn-large: 38px;

$rpbj-white: #ffffff;
$rpbj-red: #ED3237;
$rpbj-red-dark: #CF2C30;
$rpbj-grey-10: #F5F6FA;
$rpbj-grey-20: #D2D3D5;
$rpbj-grey-30: #828283;
$rpbj-grey-40: #373739;


